<div class="row">
  <div class="col-md-6">
    <h3>Lista de usuarios</h3>
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th resizable>Nombre</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
      <tr
        *ngFor="let user of users; let index = index; let odd = odd"
        [class.selected]="user === selectedUser"
        [ngClass]="{ seleccionado: selectedUser == user }"
        [style.font-size]="selectedUser == user ? '20px' : ''"
      >
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <button class="btn btn-danger" (click)="onSelect(user)">Ver</button>
          <button class="btn btn-danger" (click)="onEdit(user)">
            Modificar
          </button>
          <button class="btn btn-danger" (click)="delete(user)">
            Eliminar
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
